<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div class="card p-0 shadow">
        <div class="card-header text-white" style="background-color: rgb(63, 101, 238); font-size: 24px; font-weight: 500;">
          Register
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm">

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
                <mat-error>
                  @if (registerForm.controls.username.touched && registerForm.controls.username.invalid) {
                    @if (registerForm.controls.username.errors?.required) {
                      <span>Username is required</span>
                    }
                    @if (registerForm.controls.username.errors?.pattern) {
                      No special characters are allowed
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error>
                  @if (registerForm.controls.email.touched && registerForm.controls.email.invalid) {
                    @if (registerForm.controls.email.errors?.required) {
                      <span>Email is required</span>
                    }
                    @if (registerForm.controls.email.errors?.email) {
                      <span>Invalid email</span>
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error>
                  @if (registerForm.controls.password.touched && registerForm.controls.password.invalid) {
                    @if (registerForm.controls.password.errors?.required) {
                      <span>Password is required</span>
                    }
                  }
                </mat-error>
              </mat-form-field>
            </div>

          </form>
        </div>

        <div class="text-center pb-4">
          <button mat-flat-button color="primary" (click)="onRegister()">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
