<div class="container-fluid p-0">
  <!-- Header Toolbar -->
  <mat-toolbar class="d-flex justify-content-between px-3" style="height: 50px; color: rgb(63, 101, 238);">
    Add New Book
    <button mat-icon-button matDialogClose>
      <mat-icon style="color: rgb(63, 101, 238);">close</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Form Section -->
  <div class="container mt-3">
    <form [formGroup]="bookForm">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Book Name:</mat-label>
        <input matInput formControlName="name" />
        <mat-error>
          @if (bookForm.controls.name.touched && bookForm.controls.name.invalid) {
            @if (bookForm.controls.name.errors?.required) {
              <span>Book name is mandatory</span>
            }
          }
        </mat-error>
      </mat-form-field>
    </form>

    <!-- Add Button -->
    <div class="text-center mt-3 mb-3">
      <button mat-flat-button color="primary" [disabled]="!bookForm.valid" (click)="addNewBook()">
        Add
      </button>
    </div>
  </div>
</div>
